*{
    text-align: center;
}

#mainTopic {
    color: blue;
}

h1 , h3 , h5 {
    font-family: Georgia;
}

.paras {
    color: #fff;
    background-color: cornflowerblue;
}

div button {
    color: azure;
    background-color: purple;
}

div button:hover {
    color: yellow;
    background-color: blue;
}

.paras:nth-of-type(2n-1){
    color: yellow;
}

h1::first-letter{
    color: red;
}

/* input[type='checkbox']:checked + label { */
#yes:checked + label {
    color: green;
}