<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <form method="POST" action="/users">
        
        <label for="username">Enter a Username</label>
        <input type="text" name="username" id="username" value="Pulkitx" >

        <br>
        
        <label for="email">Enter a Email</label>
        <input type="email" name="email" id="email" value="kpulkit15234@gmail.comx" >

        <br>

        <label for="password">Enter a Password</label>
        <input type="text" name="password" id="password" value="1234x" >

        <br>
        <button>Submit</button>
    </form>
</body>
</html>