#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    bottom: 2px solid black;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}


