/* 
alpha and opacity
div{
    height: 200px;
    width: 200px;
    background-color: rgba(255,0,0,.5);
    background-color: #ac0b0baa;
}

#opacity{
    background-color: #ffa511;
    opacity: 0;
} 
*/

div {
    height: 100px;
    width: 100px;
    background-color: #4dff00ff;
    margin: auto;
    transition: margin-top 1s ease-in-out 0s;
}

div:hover{
    margin-top: 500px;
}