/* 
alpha and opacity
div{
    height: 200px;
    width: 200px;
    background-color: rgba(255,0,0,.5);
    background-color: #ac0b0baa;
}

#opacity{
    background-color: #ffa511;
    opacity: 0;
} 
*/

/* Transition
div {
    height: 100px;
    width: 100px;
    background-color: #4dff00ff;
    margin: auto;
    transition: margin-top 1s ease-in-out 0s;
}

div:hover{
    margin-top: 500px;
} */

section{
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(2n){
    background-color: #ebb02d;
}


/* transform */

#one{
    transform: rotate(-90deg);
}

#two{
    transform: scale(.5,3);
}

#three{
    transform: translate(200px,200px);
}

#four{
    transform: skew(30deg);
}

#five{
    transform: rotate(90deg) skew(30deg) translate(20px,20px);
}