@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    user-select: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex;
    height: 100vh;
    padding: 1.2rem .5rem;
}

.sidebar {
    background-color: #000000;
    width: 340px;
    border-radius: 1rem;
    margin: .5rem;
}

.sidebar .nav,
.sidebar .sidebar .nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem .75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: .7;
    padding: 0.5rem .75rem;
    display: inline-block;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;

}

.nav-option i {
    font-size: 1.25em;
}

.sidebar .Library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem .75rem;
}


.sidebar {
    display: flex;
    flex-direction: column;
}

.Library .options{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .Library .options .icons {
    display: inline-block;
}

.sidebar .Library .options .lib-options img {
    width: 1.25rem;
}


.main-content {
    background: linear-gradient(#2b2b2b, #000);
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem ;
}

.music-player {
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

.icons{
    font-size: 1.25rem;
}
.icons i{
    cursor: pointer;
    margin-right: 1rem;
    opacity: .7;
}
.icons i:hover{
    opacity: 1;
}

.lib-box{
    background-color: #232323;
    height: 8rem;
    border-radius: .75rem;
    margin:1.25rem  0;
    padding: .75rem 1.25rem;
}



.lib-box .box-p1{
    font-size: 1rem;    
    font-weight: 500;
}

.lib-box .box-p2{
    font-size: .75rem;
    opacity: .9;
}

.badge{
    background-color: #dadada;
    color: #000;
    border: none;
    border-radius: 100px;
    padding: .25rem 1rem ;
    font-weight: 600;
    height: 2.3rem;
    width: fit-content;
    cursor: pointer;
    transition: .2s;
}

.badge:hover{
    background-color: #fff;
}
.dark-badge{
    background-color: #1a1a1a;
    color: #fff;
}
.dark-badge:hover{
    background-color: #000000;
    color: #ffffff;
}


.sticky-nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: .75rem;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
}


.sticky-nav-icons{
    margin-left: .75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-options button{
    margin-right: 1rem; 
}

.card{
    background-color: #1a1a1a;
    width: 250px;
    height: 320px;
    border-radius: .5rem ;
    padding: 1rem;
    margin-right: 1rem;
    transition: .3s;
    cursor: pointer;
}

.card:hover{
    background-color: #232323;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 90%;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .3);
}

.card-title{
    margin: .5rem auto;
}

.card-info{
    margin: auto;
    margin: auto;
    font-size: .8rem;
    opacity: .8;
}

.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer hr{
    width: 80%;
    color: #fff;
    opacity: .5;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album{
    width: 25%;
}

.player{
    width: 50%;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls{
    width: 25%;
}

.player-control-icon{
    width: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
    cursor: pointer;
}

.big-icon{
    opacity: 1;
    transform: scale(2);
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.progress-bar{
    width: 50%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 160px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    transform: translateY(-6px);
}

@media (max-width:1000px) {
    .hide{
        display: none;
    }
}