@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif';
}

.main_box {
    width: 100vw;
    height: 100vh;
    background: url('./photo.jpg');
    background-size: cover;
}

.btn_one {
    font-size: 30px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: .7s;
}

.btn_two {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: 60px;
}

.sidebar_menu {
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 1);
    transition: linear .5s;
}

.sidebar_menu .logo {
    line-height: 60px;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 4px rgba(255, 255, 255, 1);
    text-align: center;
}

.sidebar_menu .logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .menu {
    margin-top: 50px;
}


.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 10px 20px;
}

.sidebar_menu .menu i,
a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: .5;
    padding: 0 5px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 1);
}

.btn_one i,
.btn_two i {
    font-size: 40px;
    cursor: pointer;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check:checked~.sidebar_menu {
    left: 0;
}

#check:checked~.btn_one {
    opacity: 0;
}

.content {
    position: absolute;
    top: 0;
    color: white;
    margin: a auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
    color: rgb(255, 149, 149);
}

p {
    font-size: 30px;
    line-height: 1.6;
    margin: 20px 0;
    transition: .5s;
    height: 55px;
    width: 70%;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p:hover{
    color: rgb(161, 161, 161);
    position: relative;
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}