<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a post</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/posts"><h1 >Quora Posts</h1></a>
    <u><h3>Add a new Post</h3></u>
    <form method="post" action="/posts" >
        <label for="username">Enter username</label>
        <input type="text" name="username" id="username">
        <label for="content">Enter content</label>
        <input type="text" name="content" id="content">
        <button class="submit">Submit</button>
    </form>
</body>
</html>