* {
    font-family: "Courier New";
    /* background-color: blue;     */
}

h3,
h1 {
    color: #b92b27;
}


#login-btn{
    background-color: #fff;
}


#signup-btn {
    background-color: #b92b27;
    color: #fff;
}

.upvote-btn{
    background-color: green;
}

/* descendant selector */
.posts a { /* selects all the a in p tag */ 
    color: purple;
    background-color: yellow;
}
nav ul li a {
    color: hotpink;
}

/* sibling combinator */
p + h3{
    text-decoration: underline;
}
.upvote-btn + button {
    background-color: cornflowerblue;
}

/* child comibnator */
div > input {
    background-color: darksalmon;
}

/* attribute selector */
input[type = "text"] {
    color: red;
}
input[type = "password"] {
    color: green;
}
input[type] {
    background-color: ghostwhite;
}

/* div[id='myid'] > p{ */
/* div#myid > p{ */
#myid > p{
    color: green;
}

/* pseudo  */